---
Title: Tags
---

<h2>Tag Index</h1>
<ul class="taglist">
  @foreach (IDocument tagDocument in Documents[Blog.Tags]
    .GroupBy(x => x.String(BlogKeys.Tag))
    .Select(x => x.FirstOrDefault())
    .OrderByDescending(x => x.Get<int>(Keys.TotalItems))
    .ThenBy(x => x.String(BlogKeys.Tag)))
  {
      string tag = tagDocument.String(BlogKeys.Tag);
      string postCount = tagDocument.String(Keys.TotalItems);
      <li>
        <a aria-role="button" href="@Context.GetLink(tagDocument)"> 
          <div>
            <div class="tagtitle">
              <span class="tagname">@tag</span>
              @if(postCount == "1")
              {
                <span class="articlecount">@postCount Post </span>
              }
              else
              {
                <span class="articlecount">@postCount Posts</span>
              }
            </div>
          </div>
        </a>
      </li>
  }
</ul>



